services:
  spectrum:
    build:
      context: spectrum
    tty: true
    stdin_open: true
    environment:
      MEMORY: "8G"
      EULA: "TRUE"
      DIFFICULTY: "easy"
      SNOOPER_ENABLED: "false"
      SPAWN_PROTECTION: "16"
      VIEW_DISTANCE: "12"
      MODE: "survival"
      SERVER_PORT: "25566"
      SEED: "-2751134287749678599"
      CFG_PROXY_SECRET: "secret"
      CFG_LUCKPERMS_DB_HOST: "luckperms-db"
      CFG_LUCKPERMS_DB_PORT: "5432"
      CFG_LUCKPERMS_DB_NAME: "luckperms"
      CFG_LUCKPERMS_DB_USERNAME: "luckperms"
      CFG_LUCKPERMS_DB_PASSWORD: "luckperms"
      CFG_POD_UUID: "a46b770a-f98e-478e-af6c-6a3c33e6415c"
      CFG_POLYMER_AUTO_HOST_TYPE: "polymer:http_server"
      CFG_POLYMER_AUTO_HOST_FORCED_ADDRESS: ""
      CFG_POLYMER_AUTO_HOST_PORT: "25577"
      CFG_POLYMER_AUTO_HOST_EXTERNAL_ADDRESS: "http://localhost:25577"
    ports:
      - 25577:25577
    volumes:
      - spectrum-data:/data
    links:
      - luckperms-db

  proxy:
    build:
      context: proxy
    tty: true
    stdin_open: true
    environment:
      MEMORY: "4G"
      CFG_SERVER_TRY_1: "survival"
      CFG_SERVER_TRY_2: "fallback"
      CFG_BIND_HOST: "0.0.0.0"
      CFG_BIND_PORT: "25565"
      CFG_MOTD: "Proxy server"
      CFG_SHOW_MAX_PLAYERS: "12"
      CFG_SERVER_SURVIVAL_HOST: "spectrum"
      CFG_SERVER_SURVIVAL_PORT: "25566"
      CFG_SERVER_FALLBACK_HOST: "fallback"
      CFG_SERVER_FALLBACK_PORT: "25567"
      CFG_FORWARDING_SECRET_FILE: "/proxy-secret"
      CFG_LUCKPERMS_DB_HOST: "luckperms-db"
      CFG_LUCKPERMS_DB_PORT: "5432"
      CFG_LUCKPERMS_DB_NAME: "luckperms"
      CFG_LUCKPERMS_DB_USERNAME: "luckperms"
      CFG_LUCKPERMS_DB_PASSWORD: "luckperms"
      CFG_CARBON_DEFAULT_FORMAT: "<gray>(<reset><luckperms_meta:role-colour><luckperms_prefix><reset><gray>)<reset> <luckperms_meta:user-colour><carbonchat_nickname><reset> <aqua>><reset> <message>"
      CFG_CARBON_CONSOLE_FORMAT: "[<channel> <viaversion_player_protocol_version>] <carbonchat_nickname> (<username>) > <message>"
      CFG_CARBON_DISCORD_FORMAT: "<carbonchat_nickname> (<username>) > <message>"
      CFG_TAB_FORMAT: "<gray>(<reset><luckperms_meta:role-colour><luckperms_prefix><reset><gray>)<reset> <luckperms_meta:user-colour><carbonchat_nickname><reset>"
      CFG_CARBON_DATABASE_JDBC_URL: "jdbc:postgresql://carbonchat-db:5432/carbonchat"
      CFG_CARBON_DATABASE_USERNAME: "carbonchat"
      CFG_CARBON_DATABASE_PASSWORD: "carbonchat"
      CFG_CARBON_NICK_BLACKLIST: "notch,admin"
      CFG_BANS_DB_HOST: "libertybans-db"
      CFG_BANS_DB_PORT: "5432"
      CFG_BANS_DB_PASSWORD: "libertybans"
      CFG_BANS_DB_USER: "libertybans"
      CFG_BANS_DB_NAME: "libertybans"
      CFG_NEKO_DISCORD_BOT_TOKEN: ""
      CFG_NEKO_DISCORD_ENABLED: "false"
      CFG_NEKO_DISCORD_ALLOWED_ROLES: ""
      CFG_NEKO_DISCORD_ALLOWED_USERS: ""
    ports:
      - 25565:25565
    links:
      - luckperms-db
      - carbonchat-db
      - libertybans-db
      - spectrum
    volumes:
      - ./proxy/dev-proxy-secret:/proxy-secret:ro
      - proxy-server:/server

  fallback:
    build:
      context: fallback
    tty: true
    stdin_open: true
    environment:
      MEMORY: "4G"
      EULA: "TRUE"
      DIFFICULTY: "peaceful"
      SNOOPER_ENABLED: "false"
      SPAWN_PROTECTION: "256"
      VIEW_DISTANCE: "16"
      MODE: "adventure"
      SERVER_PORT: "25567"
      LEVEL_TYPE: "flat"
      CFG_PROXY_SECRET: "secret"
      CFG_LUCKPERMS_DB_HOST: "luckperms-db"
      CFG_LUCKPERMS_DB_PORT: "5432"
      CFG_LUCKPERMS_DB_NAME: "luckperms"
      CFG_LUCKPERMS_DB_USERNAME: "luckperms"
      CFG_LUCKPERMS_DB_PASSWORD: "luckperms"
    links:
      - luckperms-db
    volumes:
      - fallback-data:/data

  luckperms-db:
    image: postgres:17.4

    volumes:
      - luckperms-db:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: luckperms
      POSTGRES_PASSWORD: luckperms
      POSTGRES_DB: luckperms

  libertybans-db:
    image: postgres:17.4

    volumes:
      - libertybans-db:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: libertybans
      POSTGRES_PASSWORD: libertybans
      POSTGRES_DB: libertybans

  carbonchat-db:
    image: postgres:17.4

    volumes:
      - carbonchat-db:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: carbonchat
      POSTGRES_PASSWORD: carbonchat
      POSTGRES_DB: carbonchat

volumes:
  luckperms-db:
  libertybans-db:
  carbonchat-db:
  spectrum-data:
  proxy-server:
  fallback-data:
