name: Spectrum - Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - spectrum/**
      - spectrum-translations/**
      - .github/workflows/spectrum.yml
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository to access the Dockerfile
      - name: Checkout repository
        uses: actions/checkout@v4

      # Log in to GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase owner
        id: lowercase_owner
        run: |
          echo "owner=${OWNER,,}" >>$GITHUB_OUTPUT
        env:
          OWNER: "${{ github.repository_owner }}"

      # Build and push the Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: spectrum
          push: true
          tags: |
            ghcr.io/${{ steps.lowercase_owner.outputs.owner }}/${{ github.event.repository.name }}:spectrum-latest
            ghcr.io/${{ steps.lowercase_owner.outputs.owner }}/${{ github.event.repository.name }}:spectrum-${{ github.sha }}

      - name: Install packwiz
        run: go install github.com/packwiz/packwiz@latest

      - name: Export mrpack
        run: ~/go/bin/packwiz mr export -o spectrum.mrpack
        working-directory: spectrum

      - name: Upload mrpack
        uses: actions/upload-artifact@v4
        with:
          name: mrpack
          path: spectrum/spectrum.mrpack

